:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  /*#242424;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;  
  min-height: 100%;
  font-weight: bold;
  color: black;
  background-color: white;
  overflow-x: hidden;
  font-size: 20px;
}

button {
  background-color: #E2EAFF;
  color: black;
  border-radius: 30px;
  border: transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  color: #fff;
  background-color: #82A4FF;
}

button:active {
  background-color: grey;
}